.textValue {
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    color: aqua;
    margin: 10px 0;

    input {
        border-radius: 7px;
        font-weight: bold;
        font-size: 14px;

        color: black;
        text-align: center;
        width: 120px;
        height: 28px;


    }


}
.disabled{
    border: 2px red solid;
    background-color: #c2c0c0;
}