.dashboardPanel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 440px;
    height: 280px;
}

.dashboardKeyboard{
    background-color: #2e3354;
    margin: 10px;
    border: aqua 2px solid;
    border-radius: 10px;
}
